{% extends "main_base.html" %}
{% block title %}{{ name }}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block upload_file %}

<form method=post enctype=multipart/form-data>
    <p>
        <input type=file name=file>
        Category:
        <input type="text" name="category" title="category">
        <input type=submit value=Upload>
    </p>
</form>
    {% if success %}
        <div class="alert alert-success" role="alert">
            {{ success }}
        </div>
    {% elif error.__class__.__name__ == 'str'%}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
    {% elif error.__class__.__name__ != 'str'%}
        {% for e in error %}
            <div class="alert alert-danger" role="alert">
                {{ e }}
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}