{% extends "main_base.html" %}
{% block title %}{{ name }}{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block checks %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Host id</th>
            <th scope="col">Last check time</th>
            <th scope="col">RTT</th>
            <th scope="col">Interfaces</th>
            <th scope="col">Uptime</th>
            <th scope="col">Chassis</th>
            <th scope="col">Fan status</th>
            <th scope="col">CPU</th>
        </tr>
    </thead>
    <tbody>
        {% for host in database %}
            <tr>
                {% for field in host %}
                    <td>{{ field }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
