{% extends "main_base.html" %}
{% block title %}{{ name }}{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block hosts_states %}
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Last check time</th>
                <th>Parameter name</th>
                <th>Parameter state</th>
            </tr>
        </thead>
            {% for host in database %}
                {% if host[5] %}
                    {% if host[5][0][2] == "2"  %}
                        <tr class="text-danger">
                    {% else %}
                        <tr>
                    {% endif %}
                        <td><a href="/host/{{ host[0] }}">{{ host[1] }}</a><br><span class="small">({{ host[2] }})</span></td>
                        <td>{{ host[3] }}</td>
                        <td>{{ host[4].strftime('%d-%m-%Y %H:%M:%S ') }}</td>
                        <td>
                            <ul class="list-unstyled">
                                {% for parameter in host[5] %}
                                    {% if parameter[2] == '2' %}
                                        <li class="text-danger">
                                    {% elif parameter[2] == '1' %}
                                        <li class="text-warning">
                                    {% else %}
                                        <li style="display: block">
                                    {% endif %}
                                        {{ parameter[0] }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td style="white-space: nowrap;">
                            <ul class="list-unstyled">
                                {% for parameter in host[5] %}
                                    {% if parameter[2] == '2' %}
                                        <li class="text-danger">
                                    {% elif parameter[2] == '1' %}
                                        <li class="text-warning">
                                    {% else %}
                                        <li style="display: block">
                                    {% endif %}
                                            {{ parameter[1] }}
                                        </li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </thead>
    </table>
{% endblock %}
