{% extends "main_base.html" %}
{% block title %}{{ name }}{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block host %}
    <div class="col-12">
        <h1 class="h1 {% if down %}text-danger{% endif %}">{{ host_data[0] }} <span class="small">({{ host_data[1] }})</span></h1>
        <p>{{ host_data[2] }}</p>
        {% if down %}
            <h3 class="h3">{{ host_data[3][1] }}</h3>
        {% else %}
            <div class="col-xl-6 col-lg-8 col-md-12 col-sm-12">
                <h3 class="h3">Services</h3>
                <table class="table" style="display: table">
                    <thead>
                        <tr>
                            <th class="w-50">Name</th>
                            <th class="w-50">State</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for service in services %}
                        {% if service[2] == '2' %}
                        <tr class="text-danger">
                        {% elif service[2] == '1' %}
                        <tr class="text-warning">
                        {% else %}
                        <tr>
                        {% endif %}
                            <td>{{ service[0] }}</td>
                            <td>{{ service[1] }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <form method=post enctype=multipart/form-data style="margin-bottom: 2rem">
                    <input type="hidden" name=get_interfaces title="get_interfaces" value=get_interfaces>
                    <button type="submit" class="btn btn-primary">Download interfaces data</button>
                </form>
            {% endif %}
            {% if interfaces %}
            <h3 class="h3">Interfaces</h3>
            <table class="table" style="display: table">
                <thead>
                    <tr>
                        <th class="w-25">Name</th>
                        <th class="w-25">Ip address</th>
                        <th class="w-25">Description</th>
                        <th class="w-25">State</th>
                    </tr>
                </thead>
                <tbody>
                    {% for int in interfaces %}
                        {% if int[3][1] == '2' %}
                        <tr  class="text-danger">
                        {% else %}
                        <tr>
                        {% endif %}
                            <td>{{ int[0] }}</td>
                            <td>{{ int[1] }}</td>
                            <td>{{ int[2] }}</td>
                            <td>{{ int[3][0] }}</td>
                        </tr>
                {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>


    </div>

{% endblock %}
