<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="../static/style.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
        <title>NMS - {% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
<div class="container-fluid">
    <div class="header row">
        <div class="col">
            <h1 class="center h3 text-center">{{ config['Name'] }} <small class="text-muted"> {{ name }} </small></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-1">
            {% block upload_file %}{% endblock %}
        </div>
        <div class="col-xl-11">
            {% block show_all %}{% endblock %}
            {% block show_monitoring %}{% endblock %}
        </div>
    </div>
    <div class="footer row">
        <div class="col">
            &copy; Copyright 2016 by Rafał Dziwiński.
        </div>
    </div>
</div>
</body>
</html>