{% extends "main_base.html" %}
{% block title %}{{ name }}{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block settings %}
    Usunąć oid, dodać opcje wyboru name hosta z hostname albo z bazy danych.
<div class="row" style="margin-top: 1rem">
    <div class="col-12">
        {% if success %}
            <div class="alert alert-success" role="alert">
                {{ success }}
            </div>
        {% elif error.__class__.__name__ == 'str'%}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% elif error.__class__.__name__ != 'str'%}
            {% for e in error %}
                <div class="alert alert-danger" role="alert">
                    {{ e }}
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
    <div class="row">
        <div class="col-4">
            <form method=post enctype=multipart/form-data>
                <h3 class="h3">Import hosts</h3>
                <div class="form-group">
                    <label for="example-text-input" class="form-control-label">Category</label>
                    <input class="form-control" type="text" name=category title="category" id="example-text-input">
                </div>
                <div class="form-group">
                    <input type="file" name=file class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
                    <small id="fileHelp" class="form-text text-muted">Accept *.xlsx file</small>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" name="erase" value="erase" title="erase">Drop all table
                    </label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        {% for key, value in current_settings.items() %}
        <div class="col-4">
            <h3 class="h3">{{ value["name"] }}</h3>
            <form method=post enctype=multipart/form-data>
                <input type="hidden" name=key title="key" value={{ key }}>
                <div class="form-group">
                    <label for="example-text-input" class="form-control-label">Oid</label>
                    <input class="form-control" type="text" name=oid title="oid" id="example-text-input" placeholder="{{ value["oid"] }}">
                </div>
                <div class="form-group">
                    <label for="example-text-input" class="form-control-label">Description</label>
                    <input class="form-control" type="text" name=description title="description" id="example-text-input"  placeholder="{{ value["description"] }}">
                </div>
                <div class="form-group">
                    <label for="example-text-input" class="form-control-label">Warning level</label>
                    <input class="form-control" type="text" name=warning title="warning" id="example-text-input"  placeholder="{{ value["warning"] }}">
                </div>
                <div class="form-group">
                    <label for="example-text-input" class="form-control-label">Critical level</label>
                    <input class="form-control" type="text" name=critical title="critical" id="example-text-input"  placeholder="{{ value["critical"] }}">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        {% endfor %}
    </div>




{% endblock %}