{% extends "main_base.html" %}
{% block title %}{{ name }}{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block settings %}
    <div class="row">
        <div class="col-2">
            <form method=post enctype=multipart/form-data>
                <div class="form-group">
                    <label for="example-text-input" class="form-control-label">Category</label>
                    <input class="form-control" type="text" name=category title="category" id="example-text-input">
                </div>
                <div class="form-group">
                    <label for="exampleInputFile">File input</label>
                    <input type="file" name=file class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
                    <small id="fileHelp" class="form-text text-muted">Accept *.xlsx file</small>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" name="erase" value="erase" title="erase">Drop all table
                    </label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
    <div class="row" style="margin-top: 1rem">
        <div class="col-2">
             {% if success %}
        <div class="alert alert-success" role="alert">
            {{ success }}
        </div>
    {% elif error.__class__.__name__ == 'str'%}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
    {% elif error.__class__.__name__ != 'str'%}
        {% for e in error %}
            <div class="alert alert-danger" role="alert">
                {{ e }}
            </div>
        {% endfor %}
    {% endif %}

        </div>

    </div>




{% endblock %}