{% extends "main_base.html" %}
{% block title %}{{ name }}{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block settings %}
<div class="row" style="margin-top: 1rem">
    <div class="col-12"><h1 class="h1">Settings</h1></div>
    <div class="col-12">
        {% if success %}
            <div class="alert alert-success" role="alert">
                {{ success }}
            </div>
        {% elif error.__class__.__name__ == 'str'%}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% elif error.__class__.__name__ != 'str'%}
            {% for e in error %}
                <div class="alert alert-danger" role="alert">
                    {{ e }}
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
    <div class="row">
        <div class="col-xl-6">
            <h3 class="h3">Import hosts</h3>
            <form method=post enctype=multipart/form-data style="margin-bottom: 2rem">
                <div class="form-group">
                    <label for="example-text-input" class="form-control-label">Category</label>
                    <input class="form-control" type="text" name=category title="category" id="example-text-input">
                </div>
                <div class="form-group">
                    <input type="file" name=file class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
                    <small id="fileHelp" class="form-text text-muted">Accept *.xlsx file</small>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" name="erase" value="erase" title="erase">Drop all table
                    </label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
{##}
{#            <h3 class="h3">Engine settings</h3>#}
{#            <form method=post enctype=multipart/form-data style="margin-bottom: 2rem">#}
{#                <input type="hidden" name=key title="key" value="engine">#}
{#                <div class="form-group">#}
{#                    <label for="example-text-input" class="form-control-label">Check interval</label>#}
{#                    <input class="form-control" type="number" name=interval title="interval" id="example-text-input"  placeholder="xxxx">#}
{#                </div>#}
{#                <fieldset class="form-group">#}
{#                    <legend>Host name</legend>#}
{#                    <div class="form-check">#}
{#                        <label class="form-check-label">#}
{#                        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked>#}
{#                        From database#}
{#                        </label>#}
{#                    </div>#}
{#                    <div class="form-check">#}
{#                        <label class="form-check-label">#}
{#                        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">#}
{#                        From host configuration#}
{#                        </label>#}
{#                    </div>#}
{#                </fieldset>#}
{#                <button type="submit" class="btn btn-primary">Submit</button>#}
{#            </form>#}
        </div>
        <div class="col-xl-6">
            <h3 class="h3">Services settings</h3>
            {% for key, value in current_settings.items() %}
            <h4 class="h4">{{ value["name"] }}</h4>
            <form method=post enctype=multipart/form-data style="margin-bottom: 2rem">
                <input type="hidden" name=key title="key" value={{ key }}>
                <div class="form-group">
                    <label for="example-text-input" class="form-control-label">Warning level</label>
                    <input class="form-control" type="text" name=warning title="warning" id="example-text-input"  placeholder="{{ value["warning"] }}">
                </div>
                <div class="form-group">
                    <label for="example-text-input" class="form-control-label">Critical level</label>
                    <input class="form-control" type="text" name=critical title="critical" id="example-text-input"  placeholder="{{ value["critical"] }}">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            {% endfor %}
        </div>
    </div>




{% endblock %}