{% extends "main_base.html" %}
{% block title %}{{ name }}{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block show_states_all %}
{#    Spróbować zamiast tabeli dać div z col- a usługi w środku w tabeli tylko#}
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Last check time</th>
                <th>Service name</th>
                <th>Service state</th>
            </tr>
        </thead>
            {% for host in database %}
                {% if host[5] %}
                    {% if host[5][0][1] == "Destination Host Unreachable" or host[5][0][1] == "Name or service not known" %}
                        <tr class="text-danger">
                    {% else %}
                        <tr>
                    {% endif %}
                <td><a href="/host/{{ host[0] }}">{{ host[1] }}</a><br><span class="small">({{ host[2] }})</span></td>
                        <td>{{ host[3] }}</td>
                        <td>{{ host[4].strftime('%d-%m-%Y %H:%M:%S ') }}</td>
                        <td>
                            <ul class="list-unstyled">
                                {% for service in host[5] %}
                                    {% if service[2] == '2' %}
                                        <li class="text-danger">
                                    {% elif service[2] == '1' %}
                                        <li class="text-warning">
                                    {% else %}
                                        <li style="display: block">
                                    {% endif %}
                                        {{ service[0] }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td>
                            <ul class="list-unstyled">
                                {% for service in host[5] %}
                                    {% if service[2] == '2' %}
                                        <li class="text-danger">
                                    {% elif service[2] == '1' %}
                                        <li class="text-warning">
                                    {% else %}
                                        <li style="display: block">
                                    {% endif %}
                                            {{ service[1] }}
                                        </li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </thead>
    </table>
{% endblock %}
