{% extends "main_base.html" %}
{% block title %}{{ name }}{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block show_all %}
<table class="table-striped">
    <thead>
        <tr>
            <th>category</th>
            <th>uptime</th>
            <th>ping</th>
            <th>interface_status</th>
            <th>interface_utilization</th>
            <th>chassis_temperature</th>
            <th>fan_status</th>
        </tr>
    </thead>
    <tbody>
        {% for category in database %}
            <tr>
                {% for field in category %}
                    <td>{{ field }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
