{% extends "main_base.html" %}
{% block title %}{{ name }}{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block upload_file %}

    <h3 class="h5">Export form *.xlsx</h3>

    <form method=post enctype=multipart/form-data>
        <p>
            <input type=file name=file>
            Category:
            <input type="text" name="category" title="category"><br>
           Wymazać?: <input type="checkbox" name="erase" value="erase" title="erase"><br>
            <input type=submit value=Upload>
        </p>
    </form>

    {% if success %}
        <div class="alert alert-success" role="alert">
            {{ success }}
        </div>
    {% elif error.__class__.__name__ == 'str'%}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
    {% elif error.__class__.__name__ != 'str'%}
        {% for e in error %}
            <div class="alert alert-danger" role="alert">
                {{ e }}
            </div>
        {% endfor %}
    {% endif %}

{% endblock %}